.Card {
    background-color: #222;
    /*background-color: #24272b;*/
    color: white;
    padding: 20px;
    /*width: 500px;*/
    /*margin: auto;*/
    /*border-radius: 45px;*/
    /*box-shadow: 6px 5px 8px 2px #222222;*/
    /*border-bottom-left-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}

.Card-Image {
    border-radius: 10px;
}

.Card-Title {
    text-align: start;
    font-family: "Ubuntu Light";
    font-style: oblique;
    font-size: large;
}

.Card-Text {
    text-align: center;
    font-family: "Ubuntu Mono";
    font-style: initial;
    font-size: medium;
}